/*
* Hide only visually, but have it available for screen readers: h5bp.com/v
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
  * Extends the .visuallyhidden class to allow the element to be focusable
  * when navigated to via the keyboard: h5bp.com/p
  */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
}

body {
  background-color: #fff;
  color: #505050;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 14px;
}

img, svg {
  max-width: 100%;
}

a:hover, .footer_wrapper p:hover, .footer_wrapper .right_content form input:hover, .footer_wrapper .right_content form button:hover {
  text-decoration: none;
}

.h-100 {
  height: 100%;
}

p {
  font-size: 11px;
}

@media (min-width: 576px) {
  p {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  p {
    font-size: 14px;
  }
}

header {
  z-index: 10;
}

header .header_top {
  background: #1f4c8c;
  padding: 10px 0px;
}

@media (min-width: 576px) {
  header .header_top {
    padding: 15px 5px;
  }
}

header .header_top ul li {
  color: #ffffff;
  font-weight: 600;
  line-height: 12px;
  font-size: 10px;
}

@media (min-width: 576px) {
  header .header_top ul li {
    font-size: 12px;
  }
}

header .header_top ul li a, header .header_top ul li .footer_wrapper p, .footer_wrapper header .header_top ul li p, header .header_top ul li .footer_wrapper .right_content form input, .footer_wrapper .right_content form header .header_top ul li input, header .header_top ul li .footer_wrapper .right_content form button, .footer_wrapper .right_content form header .header_top ul li button {
  color: #ffffff;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding: 5px;
}

header .header_top ul li a:hover, header .header_top ul li .footer_wrapper p:hover, .footer_wrapper header .header_top ul li p:hover, header .header_top ul li .footer_wrapper .right_content form input:hover, .footer_wrapper .right_content form header .header_top ul li input:hover, header .header_top ul li .footer_wrapper .right_content form button:hover, .footer_wrapper .right_content form header .header_top ul li button:hover {
  opacity: 0.8;
}

header .header_top .top_left li:first-child {
  border-right: 1.2px solid #ffffff;
}

header .header_top .top_Right li:nth-child(1),
header .header_top .top_Right li:nth-child(2),
header .header_top .top_Right li:nth-child(3) {
  border-right: 1.2px solid #ffffff;
}

header .header_bottom {
  background: #1f4c8c;
  padding: 10px;
  color: #ffffff;
}

header .header_bottom p {
  width: 100%;
  letter-spacing: unset;
  font-size: 10px;
}

@media (min-width: 576px) {
  header .header_bottom p {
    font-size: 14px;
    letter-spacing: 1px;
  }
}

header .header_bottom form {
  width: 100%;
  position: relative;
}

header .header_bottom form input {
  width: 100%;
  padding: 2px 20px 2px 10px;
  border: none;
}

header .header_bottom form button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  outline: none;
  color: #d9dadc;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

header .header_bottom form button:hover {
  color: #1f4c8c;
}

@media (min-width: 992px) {
  header .header_bottom p {
    width: 70%;
  }
  header .header_bottom form {
    width: 30%;
  }
}

header nav {
  padding: 10px 0;
}

header nav ul li a, header nav ul li .footer_wrapper p, .footer_wrapper header nav ul li p, header nav ul li .footer_wrapper .right_content form input, .footer_wrapper .right_content form header nav ul li input, header nav ul li .footer_wrapper .right_content form button, .footer_wrapper .right_content form header nav ul li button {
  color: #163868;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 576px) {
  header nav ul li a, header nav ul li .footer_wrapper p, .footer_wrapper header nav ul li p, header nav ul li .footer_wrapper .right_content form input, .footer_wrapper .right_content form header nav ul li input, header nav ul li .footer_wrapper .right_content form button, .footer_wrapper .right_content form header nav ul li button {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  header nav ul li a, header nav ul li .footer_wrapper p, .footer_wrapper header nav ul li p, header nav ul li .footer_wrapper .right_content form input, .footer_wrapper .right_content form header nav ul li input, header nav ul li .footer_wrapper .right_content form button, .footer_wrapper .right_content form header nav ul li button {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  header nav ul li a, header nav ul li .footer_wrapper p, .footer_wrapper header nav ul li p, header nav ul li .footer_wrapper .right_content form input, .footer_wrapper .right_content form header nav ul li input, header nav ul li .footer_wrapper .right_content form button, .footer_wrapper .right_content form header nav ul li button {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  header nav ul li a, header nav ul li .footer_wrapper p, .footer_wrapper header nav ul li p, header nav ul li .footer_wrapper .right_content form input, .footer_wrapper .right_content form header nav ul li input, header nav ul li .footer_wrapper .right_content form button, .footer_wrapper .right_content form header nav ul li button {
    font-size: 19px;
  }
}

#diamondsearch {
  background: #fff;
  border: 1px solid #e7e7e7;
  line-height: 1;
  min-height: 827px;
  position: relative;
}

#diamondsearch .search-title h1 {
  font-weight: bold;
  margin: 0;
  width: 78%;
  height: inherit;
  line-height: 40px;
  padding: 0 0 0 7px;
  color: #2c2c2c;
  border-bottom: 1px solid #dfdfdf;
  display: none;
}

@media (min-width: 768px) {
  #diamondsearch .search-title h1 {
    font-size: 15px;
    padding: 0 0 0 20px;
    display: block;
  }
}

@media (min-width: 992px) {
  #diamondsearch .search-title h1 {
    font-size: 17px;
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  #diamondsearch .search-title h1 {
    font-size: 18px;
    padding: 0 0 0 24px;
  }
}

#diamondsearch .search-title h1 span {
  font-weight: 400;
}

#diamondsearch .search-title #filterSlideToggleBtn {
  width: 22%;
  border-left: 1px solid #dfdfdf;
  text-align: center;
  letter-spacing: 1px;
  line-height: 40px;
  cursor: pointer;
  color: #2c2c2c;
  font-weight: 500;
  display: none;
}

#diamondsearch .search-title #filterSlideToggleBtn i {
  margin-left: 5px;
  color: #1f4c8c;
}

@media (min-width: 768px) {
  #diamondsearch .search-title #filterSlideToggleBtn {
    font-size: 14px;
    padding: 0 0 0 20px;
    display: block;
  }
}

@media (min-width: 992px) {
  #diamondsearch .search-title #filterSlideToggleBtn {
    font-size: 15px;
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  #diamondsearch .search-title #filterSlideToggleBtn {
    font-size: 16px;
    padding: 0 0 0 24px;
  }
}

#diamondsearch .search-title #filterSlideToggleBtn span {
  font-weight: 400;
  margin-left: 4px;
}

#diamondsearch #ds_filter {
  display: none;
  height: 525px;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  padding: 20px 35px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 10px rgba(165, 175, 179, 0.326);
  box-shadow: 0px 5px 10px rgba(165, 175, 179, 0.326);
  z-index: 2;
}

#diamondsearch #ds_filter .ui-slider {
  background: #d9dadc;
  height: 4px;
  border-radius: 10px;
  margin: 0 17px;
}

#diamondsearch #ds_filter .ui-slider .dot {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 30;
}

#diamondsearch #ds_filter .ui-slider .dot li {
  height: 100%;
  width: 2px;
  background: #e4e4e4;
}

#diamondsearch #ds_filter .ui-slider .ui-slider-handle {
  position: absolute;
  cursor: pointer;
  top: -7px;
  color: #1f4c8c;
  outline: 0 none;
  border: 0 none;
  cursor: pointer;
  outline: none;
  width: 17px;
}

#diamondsearch #ds_filter .ui-slider .ui-slider-handle:last-child::after {
  content: "\f0d9";
}

#diamondsearch #ds_filter .ui-slider .ui-slider-handle::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
  font-size: 32px;
  position: absolute;
  top: -7px;
}

#diamondsearch #ds_filter .ui-slider .ui-slider-range {
  background: #1f4c8c;
}

#diamondsearch .results_table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
}

#diamondsearch .results_table .sort {
  text-transform: uppercase;
  font-weight: normal;
  color: #2c2c2c;
  text-align: center;
  border-left: 1px solid #dfdfdf;
  margin: 12px 0;
  height: 32px;
  line-height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 10px;
  z-index: 10;
}

@media (min-width: 576px) {
  #diamondsearch .results_table .sort {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  #diamondsearch .results_table .sort {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  #diamondsearch .results_table .sort {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  #diamondsearch .results_table .sort {
    font-size: 14px;
  }
}

#diamondsearch .results_table .sort span i {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#diamondsearch .results_table .sort.asc span i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#diamondsearch .results_table .sort.dsc span i {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#diamondsearch .results_table .sort span {
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#diamondsearch .results_table .sort .attributes {
  color: #818181;
  line-height: 1;
}

#diamondsearch .results_table thead {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

#diamondsearch .results_table thead th:first-child .sort {
  border: 0 none;
}

#diamondsearch .results_table tbody tr {
  cursor: default;
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
}

#diamondsearch .results_table tbody tr:nth-child(2n) {
  background-color: #f5f5f5;
}

#diamondsearch .results_table tbody tr td {
  text-align: center;
  height: 40px;
  width: 11.1111%;
  font-family: 'proxima_novaregular', Helvetica, Arial, sans-serif;
  vertical-align: middle;
  color: #3a3a3a;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
  font-size: 10px;
}

@media (min-width: 576px) {
  #diamondsearch .results_table tbody tr td {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  #diamondsearch .results_table tbody tr td {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  #diamondsearch .results_table tbody tr td {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  #diamondsearch .results_table tbody tr td {
    font-size: 14px;
  }
}

#diamondsearch .results_table tbody tr:hover {
  background-color: #1f4c8c;
}

#diamondsearch .results_table tbody tr:hover td {
  color: #ffffff;
}

#diamondsearch .results_table td.lab,
#diamondsearch .results_table th.lab_sort {
  display: none;
}

@media (min-width: 415px) {
  #diamondsearch .results_table td.lab,
  #diamondsearch .results_table th.lab_sort {
    display: table-cell;
  }
}

#diamondsearch .results_table td.cut,
#diamondsearch .results_table th.cut_short {
  display: none;
}

@media (min-width: 388px) {
  #diamondsearch .results_table td.cut,
  #diamondsearch .results_table th.cut_short {
    display: table-cell;
  }
}

#diamondsearch .search_fotter {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 28px;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

#diamondsearch .search_fotter .pg_nav .pagination li a, #diamondsearch .search_fotter .pg_nav .pagination li .footer_wrapper p, .footer_wrapper #diamondsearch .search_fotter .pg_nav .pagination li p, #diamondsearch .search_fotter .pg_nav .pagination li .footer_wrapper .right_content form input, .footer_wrapper .right_content form #diamondsearch .search_fotter .pg_nav .pagination li input, #diamondsearch .search_fotter .pg_nav .pagination li .footer_wrapper .right_content form button, .footer_wrapper .right_content form #diamondsearch .search_fotter .pg_nav .pagination li button {
  display: inline-block;
  color: #3a3a3a;
  font-size: 14px;
  text-align: center;
  min-width: 28px;
  padding: 0 4px;
  height: 28px;
  line-height: 28px;
}

#diamondsearch .search_fotter .pg_nav .pagination li.active a, #diamondsearch .search_fotter .pg_nav .pagination li.active .footer_wrapper p, .footer_wrapper #diamondsearch .search_fotter .pg_nav .pagination li.active p, #diamondsearch .search_fotter .pg_nav .pagination li.active .footer_wrapper .right_content form input, .footer_wrapper .right_content form #diamondsearch .search_fotter .pg_nav .pagination li.active input, #diamondsearch .search_fotter .pg_nav .pagination li.active .footer_wrapper .right_content form button, .footer_wrapper .right_content form #diamondsearch .search_fotter .pg_nav .pagination li.active button {
  background-color: #f5f5f5;
}

#diamondsearch .search_fotter .pg_nav .pgBtn {
  display: inline-block;
  color: #3a3a3a;
  font-size: 14px;
  text-align: center;
  min-width: 28px;
  padding: 0 4px;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#diamondsearch .search_fotter .pg_nav .disabled {
  opacity: 0.5;
}

#diamondsearch .search_fotter .pg_nav .jPaginateNext i,
#diamondsearch .search_fotter .pg_nav .jPaginatePrev i {
  font-size: 20px;
  line-height: 28px;
}

#followSection {
  width: 100%;
  height: 74px;
  margin: 20px 0;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background: #f5f5f5;
  border: 1px solid #d9dadc;
}

#followSection a, #followSection .footer_wrapper p, .footer_wrapper #followSection p, #followSection .footer_wrapper .right_content form input, .footer_wrapper .right_content form #followSection input, #followSection .footer_wrapper .right_content form button, .footer_wrapper .right_content form #followSection button {
  height: inherit;
  color: #1f4c8c;
}

#followSection h2 {
  font-size: 15px;
  font-weight: 400;
}

@media (min-width: 576px) {
  #followSection h2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  #followSection h2 {
    font-size: 25px;
  }
}

@media (min-width: 992px) {
  #followSection h2 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  #followSection h2 {
    font-size: 40px;
  }
}

#followSection:hover {
  opacity: 1;
}

.footer_wrapper {
  padding: 15px;
  border: 1px solid #d9dadc;
}

@media (min-width: 576px) {
  .footer_wrapper {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .footer_wrapper {
    padding: 30px;
  }
}

@media (min-width: 992px) {
  .footer_wrapper {
    padding: 35px;
  }
}

@media (min-width: 1200px) {
  .footer_wrapper {
    padding: 40px;
  }
}

.footer_wrapper .title {
  font-size: 14px;
  font-weight: 300;
  color: #1f4c8c;
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .footer_wrapper .title {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .footer_wrapper .title {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .footer_wrapper .title {
    font-size: 20px;
    margin-bottom: 22px;
  }
}

@media (min-width: 1200px) {
  .footer_wrapper .title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.footer_wrapper a, .footer_wrapper p, .footer_wrapper .right_content form input, .footer_wrapper .right_content form button {
  color: #a5afb3;
  font-size: 11px;
  line-height: 15px;
  font-weight: 300;
}

@media (min-width: 576px) {
  .footer_wrapper a, .footer_wrapper p, .footer_wrapper .right_content form input, .footer_wrapper .right_content form button {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (min-width: 768px) {
  .footer_wrapper a, .footer_wrapper p, .footer_wrapper .right_content form input, .footer_wrapper .right_content form button {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 992px) {
  .footer_wrapper a, .footer_wrapper p, .footer_wrapper .right_content form input, .footer_wrapper .right_content form button {
    font-size: 15px;
    line-height: 25px;
  }
}

@media (min-width: 1200px) {
  .footer_wrapper a, .footer_wrapper p, .footer_wrapper .right_content form input, .footer_wrapper .right_content form button {
    font-size: 19px;
    line-height: 30px;
  }
}

.footer_wrapper .right_content {
  position: relative;
}

.footer_wrapper .right_content form input {
  border: 1px solid #d9dadc;
  padding-left: 10px;
  width: 55%;
}

.footer_wrapper .right_content form button {
  background-color: #a5afb3;
  outline: none;
  border: none;
  color: #ffffff;
  width: 40%;
  cursor: pointer;
  font-weight: normal;
}

.footer_wrapper .right_content:before {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #d9dadc;
  position: absolute;
  left: -22%;
  -webkit-transform: translateX(22%);
  -ms-transform: translateX(22%);
  transform: translateX(22%);
  top: 0;
}
