header {
  .header_top {
    background: $primary-color;
    padding: 10px 0px;

    @include breakpoint($small) {
      padding: 15px 5px;

    }

    ul li {
      color: $white-color;
      font-weight: 600;
      line-height: 12px;
      font-size: 10px;

      @include breakpoint ($small) {
        font-size: 12px;
      }

      a {
        color: $white-color;
        transition: opacity 0.3s;
        padding: 5px;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .top_left li:first-child {
      border-right: 1.2px solid $white-color;
    }

    .top_Right li:nth-child(1),
    .top_Right li:nth-child(2),
    .top_Right li:nth-child(3) {
      border-right: 1.2px solid $white-color;
    }
  }

  .header_bottom {
    background: $primary-color;
    padding: 10px;
    color: $white-color;

    p {
      width: 100%;
      letter-spacing: unset;

      font-size: 10px;

      @include breakpoint ($small) {
        font-size: 14px;
        letter-spacing: 1px;

      }
    }

    form {
      width: 100%;
      position: relative;

      input {
        width: 100%;
        padding: 2px 20px 2px 10px;
        border: none;
      }

      button {
        background: none;
        border: none;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;
        outline: none;
        color: $dark-grey-color;
        transition: color 0.3s;

        &:hover {
          color: $primary-color;
        }
      }
    }

    @include breakpoint($large) {
      p {
        width: 70%;
      }

      form {
        width: 30%;
      }
    }

  }

  nav {
    padding: 10px 0;

    ul {
      li {
        a {
          color: #163868;
          font-size: 12px;
          transition: all 0.3s;

          @include breakpoint($small) {
            font-size: 12px;
          }

          @include breakpoint($medium) {
            font-size: 14px;
          }

          @include breakpoint($large) {
            font-size: 15px;
          }

          @include breakpoint($x-large) {
            font-size: 19px;
          }
        }
      }
    }
  }
}



#diamondsearch {
  background: #fff;
  border: 1px solid #e7e7e7;
  line-height: 1;
  min-height: 827px;
  position: relative;

  .search-title {
    // height: 60px;

    h1 {
      font-weight: bold;
      margin: 0;
      width: 78%;
      height: inherit;
      line-height: 40px;
      padding: 0 0 0 7px;
      color: #2c2c2c;
      border-bottom: 1px solid #dfdfdf;
      display: none;

      @include breakpoint($medium) {
        font-size: 15px;
        padding: 0 0 0 20px;
        display: block;

      }

      @include breakpoint($large) {
        font-size: 17px;
        line-height: 60px;

      }

      @include breakpoint($x-large) {
        font-size: 18px;
        padding: 0 0 0 24px;

      }

      span {
        font-weight: 400;
      }
    }

    #filterSlideToggleBtn {
      width: 22%;
      border-left: 1px solid #dfdfdf;
      text-align: center;
      letter-spacing: 1px;
      line-height: 40px;
      cursor: pointer;
      color: #2c2c2c;
      font-weight: 500;
      display: none;

      i {
        margin-left: 5px;
        color: $primary-color;
      }

      @include breakpoint($medium) {
        font-size: 14px;
        padding: 0 0 0 20px;
        display: block;

      }

      @include breakpoint($large) {
        font-size: 15px;
        line-height: 60px;

      }

      @include breakpoint($x-large) {
        font-size: 16px;
        padding: 0 0 0 24px;

      }

      span {
        font-weight: 400;
        margin-left: 4px;
      }
    }
  }

  .results_table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    position: relative;

    .sort {
      text-transform: uppercase;
      font-weight: normal;
      color: #2c2c2c;
      text-align: center;
      border-left: 1px solid #dfdfdf;
      margin: 12px 0;
      height: 32px;
      line-height: 20px;
      cursor: pointer;
      user-select: none;

      font-size: 10px;

      @include breakpoint($small) {
        font-size: 11px;
      }

      @include breakpoint($medium) {
        font-size: 12px;
      }

      @include breakpoint($large) {
        font-size: 13px;
      }

      @include breakpoint($x-large) {
        font-size: 14px;
      }


      span i {
        transition: transform 0.3s;
      }

      &.asc span i {
        transform: rotate(180deg);
      }

      &.dsc span i {
        transform: rotate(0deg);
      }

      span {
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .attributes {
        color: #818181;
        line-height: 1;
      }
    }

    thead {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);

      th:first-child .sort {
        border: 0 none;
      }
    }

    tbody {
      tr {
        cursor: default;
        transition: background-color .25s;

        &:nth-child(2n) {
          background-color: $grey-color;
        }

        td {
          text-align: center;
          height: 40px;
          width: 11.1111%;
          font-family: 'proxima_novaregular', Helvetica, Arial, sans-serif;
          vertical-align: middle;
          color: #3a3a3a;
          transition: color .25s;
          font-size: 10px;

          @include breakpoint($small) {
            font-size: 11px;
          }

          @include breakpoint($medium) {
            font-size: 12px;
          }

          @include breakpoint($large) {
            font-size: 13px;
          }

          @include breakpoint($x-large) {
            font-size: 14px;
          }
        }

        &:hover {
          background-color: $primary-color;

          td {
            color: $white-color;
          }
        }
      }
    }

    td.lab,
    th.lab_sort {
      display: none;

      @include breakpoint(415px) {
        display: table-cell;
      }
    }

    td.cut,
    th.cut_short {
      display: none;

      @include breakpoint(388px) {
        display: table-cell;
      }
    }
  }

  .search_fotter {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 28px;
    width: 100%;
    height: 40px;
    background-color: $white-color;
    overflow: hidden;
    position: absolute;
    bottom: 0;

    .pg_nav {
      .pagination {
        li {
          a {
            display: inline-block;
            color: #3a3a3a;
            font-size: 14px;
            text-align: center;
            min-width: 28px;
            padding: 0 4px;
            height: 28px;
            line-height: 28px;
          }

          &.active a {
            background-color: $grey-color;
          }
        }
      }

      .pgBtn {
        display: inline-block;
        color: #3a3a3a;
        font-size: 14px;
        text-align: center;
        min-width: 28px;
        padding: 0 4px;
        height: 28px;
        line-height: 28px;
        cursor: pointer;
        user-select: none;

      }

      .disabled {
        opacity: 0.5;
      }

      .jPaginateNext i,
      .jPaginatePrev i {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

#followSection {
  width: 100%;
  height: 74px;
  margin: 20px 0;
  opacity: 0.8;
  transition: opacity 0.3s;
  background: $grey-color;
  border: 1px solid $dark-grey-color;

  a {
    height: inherit;
    color: $primary-color;

  }

  h2 {
    font-size: 15px;
    font-weight: 400;

    @include breakpoint($small) {
      font-size: 20px;
    }

    @include breakpoint($medium) {
      font-size: 25px;

    }

    @include breakpoint($large) {
      font-size: 30px;
    }

    @include breakpoint($x-large) {
      font-size: 40px;

    }
  }

  &:hover {
    opacity: 1;
  }
}

.footer_wrapper {
  padding: 15px;
  border: 1px solid $dark-grey-color;

  @include breakpoint($small) {
    padding: 20px;
  }

  @include breakpoint($medium) {
    padding: 30px;
  }

  @include breakpoint($large) {
    padding: 35px;
  }

  @include breakpoint($x-large) {
    padding: 40px;
  }

  .title {
    font-size: 14px;
    font-weight: 300;
    color: $primary-color;
    margin-bottom: 10px;

    @include breakpoint($small) {
      font-size: 16px;
      margin-bottom: 15px;
    }

    @include breakpoint($medium) {
      font-size: 18px;
      margin-bottom: 20px;
    }

    @include breakpoint($large) {
      font-size: 20px;
      margin-bottom: 22px;
    }

    @include breakpoint($x-large) {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  a {
    color: #a5afb3;
    font-size: 11px;
    line-height: 15px;
    font-weight: 300;

    @include breakpoint($small) {
      font-size: 13px;
      line-height: 15px;
    }

    @include breakpoint($medium) {
      font-size: 14px;
      line-height: 20px;
    }

    @include breakpoint($large) {
      font-size: 15px;
      line-height: 25px;
    }

    @include breakpoint($x-large) {
      font-size: 19px;
      line-height: 30px;
    }
  }

  p {
    @extend a;
  }

  .right_content {
    position: relative;

    form {
      input {
        border: 1px solid $dark-grey-color;
        padding-left: 10px;
        width: 55%;
        @extend a;
      }

      button {
        @extend a;
        background-color: #a5afb3;
        outline: none;
        border: none;
        color: $white-color;
        width: 40%;
        cursor: pointer;
        font-weight: normal;
      }
    }

    &:before {
      content: '';
      width: 1px;
      height: 100%;
      background-color: $dark-grey-color;
      position: absolute;
      left: -22%;
      transform: translateX(22%);
      top: 0;
    }
  }
}