header {
  z-index: 10;

  .header_top {
    background: $primary-color;
    padding: 10px 0px;

    @include breakpoint($small) {
      padding: 15px 5px;

    }

    ul li {
      color: $white-color;
      font-weight: 600;
      line-height: 12px;
      font-size: 10px;

      @include breakpoint ($small) {
        font-size: 12px;
      }

      a {
        color: $white-color;
        transition: opacity 0.3s;
        padding: 5px;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .top_left li:first-child {
      border-right: 1.2px solid $white-color;
    }

    .top_Right li:nth-child(1),
    .top_Right li:nth-child(2),
    .top_Right li:nth-child(3) {
      border-right: 1.2px solid $white-color;
    }
  }

  .header_bottom {
    background: $primary-color;
    padding: 10px;
    color: $white-color;

    p {
      width: 100%;
      letter-spacing: unset;

      font-size: 10px;

      @include breakpoint ($small) {
        font-size: 14px;
        letter-spacing: 1px;

      }
    }

    form {
      width: 100%;
      position: relative;

      input {
        width: 100%;
        padding: 2px 20px 2px 10px;
        border: none;
      }

      button {
        background: none;
        border: none;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;
        outline: none;
        color: $dark-grey-color;
        transition: color 0.3s;

        &:hover {
          color: $primary-color;
        }
      }
    }

    @include breakpoint($large) {
      p {
        width: 70%;
      }

      form {
        width: 30%;
      }
    }

  }

  nav {
    padding: 10px 0;

    ul {
      li {
        a {
          color: #163868;
          font-size: 12px;
          transition: all 0.3s;

          @include breakpoint($small) {
            font-size: 12px;
          }

          @include breakpoint($medium) {
            font-size: 14px;
          }

          @include breakpoint($large) {
            font-size: 15px;
          }

          @include breakpoint($x-large) {
            font-size: 19px;
          }
        }
      }
    }
  }
}



#diamondsearch {
  background: #fff;
  border: 1px solid #e7e7e7;
  line-height: 1;
  min-height: 827px;
  position: relative;

  .search-title {
    h1 {
      font-weight: bold;
      margin: 0;
      width: 78%;
      height: inherit;
      line-height: 20px;
      padding: 0 0 0 7px;
      color: #2c2c2c;
      border-bottom: 1px solid #dfdfdf;
      font-size: 11px;
      @include breakpoint($medium) {
        font-size: 15px;
        padding: 0 0 0 20px;
        line-height: 40px;

      }

      @include breakpoint($large) {
        font-size: 17px;
        line-height: 60px;

      }

      @include breakpoint($x-large) {
        font-size: 18px;
        padding: 0 0 0 24px;

      }

      span {
        font-weight: 400;
      }
    }

    #filterSlideToggleBtn {
      width: 22%;
      border-left: 1px solid #dfdfdf;
      text-align: center;
      letter-spacing: 1px;
      line-height: 20px;
      cursor: pointer;
      color: #2c2c2c;
      font-weight: 500;
      i {
        margin-left: 5px;
        color: $primary-color;
      }

      &.active{
        .fa-caret-down {
          display: none !important;
        }
        .fa-times{
          display: block !important;
        }
      }

      @include breakpoint($medium) {
        font-size: 14px;
        padding: 0 0 0 20px;
        line-height: 40px;

      }

      @include breakpoint($large) {
        font-size: 15px;
        line-height: 60px;

      }

      @include breakpoint($x-large) {
        font-size: 16px;
        padding: 0 0 0 24px;

      }

      span {
        font-weight: 400;
        margin-left: 4px;
      }
    }
  }


  #ds_filter {
    display: none;
    min-height: 550px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 20px 35px;
    background: $white-color;
    box-shadow: 0px 5px 10px rgba(165, 175, 179, 0.326);
    z-index: 2;

    @include breakpoint($medium) {
 
      top: 60px;

    }

    .ui-slider {
      background: $dark-grey-color;
      height: 4px;
      border-radius: 10px;
      margin: 0 10px;
      margin-top: 15px;

      .ui-slider-handle {
        position: absolute;
        cursor: pointer;
        top: -7px;
        color: $primary-color;
        outline: 0 none;
        border: 0 none;
        cursor: pointer;
        outline: none;
        width: 17px;

        &:last-child {
          &::after {
            content: "\f0d9";
          }
        }

        &::after {
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f0da";
          font-size: 32px;
          position: absolute;
          top: -7px;
        }

      }

      .ui-slider-range {
        background: $primary-color;
      }

    }

    input {
      outline: none;
      border: 1px solid $dark-grey-color;
      width: 22%;
      padding: 0 8px;
      color: #535353;
    }

    ul li,
    p {
      font-size: 14px;
    }

    .option_title {
      font-size: 15px;
    }

    .search_op {
      button {
        width: 45%;
        height: 45px;
        color: $primary-color;
        border: 1px solid $dark-grey-color;
        outline: none;
        background: transparent;
        font-size: 19px;
        cursor: pointer;
        font-weight: 500;
        letter-spacing: 1.75px;

        &#search_btn {
          color: $white-color;
          background: $primary-color
        }
      }
    }

    .shape_options {
      .shape_s_option {
        position: relative;
        cursor: pointer;

        img {
          transition: all 0.3s;

        }

        &::before {
          content: '';
          width: 90%;
          height: 2px;
          background: $dark-grey-color;
          position: absolute;
          top: -5px;
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.3s;

        }

        &.active {
          img {
            opacity: 0.7;

          }

          &::before {
            background: $primary-color;

          }
        }
      }
    }


  }




  .results_table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    position: relative;

    .sort {
      text-transform: uppercase;
      font-weight: normal;
      color: #2c2c2c;
      text-align: center;
      border-left: 1px solid #dfdfdf;
      margin: 12px 0;
      height: 32px;
      line-height: 20px;
      cursor: pointer;
      user-select: none;

      font-size: 10px;
      z-index: 10;

      @include breakpoint($small) {
        font-size: 11px;
      }

      @include breakpoint($medium) {
        font-size: 12px;
      }

      @include breakpoint($large) {
        font-size: 13px;
      }

      @include breakpoint($x-large) {
        font-size: 14px;
      }


      span i {
        transition: transform 0.3s;
      }

      &.asc span i {
        transform: rotate(180deg);
      }

      &.dsc span i {
        transform: rotate(0deg);
      }

      span {
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .attributes {
        color: #818181;
        line-height: 1;
      }
    }

    thead {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);

      th:first-child .sort {
        border: 0 none;
      }
    }

    tbody {
      tr {
        cursor: default;
        transition: background-color .25s;

        &.active{
          background-color: $primary-color !important;

          td {
            color: $white-color !important;
            
          }
        }

        &:nth-child(2n) {
          background-color: $grey-color;
        }

        td {
          text-align: center;
          height: 40px;
          width: 11.1111%;
          font-family: 'proxima_novaregular', Helvetica, Arial, sans-serif;
          vertical-align: middle;
          color: #3a3a3a;
          transition: color .25s;
          font-size: 10px;
          text-transform: uppercase;

          @include breakpoint($small) {
            font-size: 11px;
          }

          @include breakpoint($medium) {
            font-size: 12px;
          }

          @include breakpoint($large) {
            font-size: 13px;
          }

          @include breakpoint($x-large) {
            font-size: 14px;
          }
        }

        &:hover {
          background-color: $primary-color;

          td {
            color: $white-color;
          }
      
        }
      }
    }

    td.lab,
    th.lab_sort {
      display: none;

      @include breakpoint(415px) {
        display: table-cell;
      }
    }

    td.cut,
    th.cut_short {
      display: none;

      @include breakpoint(388px) {
        display: table-cell;
      }
    }
  }

  .search_fotter {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 28px;
    width: 100%;
    height: 40px;
    background-color: $white-color;
    overflow: hidden;
    position: absolute;
    bottom: 0;

    .pg_nav {
      .pagination {
        li {
          a {
            display: inline-block;
            color: #3a3a3a;
            font-size: 14px;
            text-align: center;
            min-width: 28px;
            padding: 0 4px;
            height: 28px;
            line-height: 28px;
          }

          &.active a {
            background-color: $grey-color;
          }
        }
      }

      .pgBtn {
        display: inline-block;
        color: #3a3a3a;
        font-size: 14px;
        text-align: center;
        min-width: 28px;
        padding: 0 4px;
        height: 28px;
        line-height: 28px;
        cursor: pointer;
        user-select: none;

      }

      .disabled {
        opacity: 0.5;
      }

      .jPaginateNext i,
      .jPaginatePrev i {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  #diamond_preview {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    max-width: 822px;
    width: 100%;
    min-height: 336px;
    margin: auto;
    display: none;
    #preview_close_btn {
      top: 20px;
      right: 20px;
      position: absolute;
      cursor: pointer;
      padding: 5px;
      font-size: 20px;
      z-index: 1;
      transition: all .25s;

      &:hover {
        transform: rotate(90deg);
      }
    }

    .left_side {

      .diamond_width,
      .diamond_length {
        font-size: 11px;
        position: relative;
        max-width: 195px;
        &::before,
        &:after {
          content: '';
          position: absolute;
          background: #b3b3b3;
        }
      }

      .diamond_width::before {
        position: absolute;
        left: 0;
        top: 50%;
        height: 10px;
        width: 1px;
      }

      .diamond_width::after {
        position: absolute;
        right: 0;
        top: 50%;
        height: 10px;
        width: 1px;
      }

      .diamond_length::before {
        position: absolute;
        left: -13px;
        top: -725%;
        height: 1px;
        width: 10px;
      }

      .diamond_length::after {
        position: absolute;
        left: -13px;
        bottom: 100%;
        height: 1px;
        width: 10px;
      }

      .diamond_img {
        background: $primary-color;
        position: relative;
        max-width: 195px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          max-height: 50%;
        }
        &::before {
          content: '';
          height: 1px;
          position: absolute;
          top: -8px;
          left: 0;
          right: 0;
          background: #b3b3b3;
        }

        &:after {
          content: '';
          width: 1px;
          position: absolute;
          top: 0;
          left: -8px;
          bottom: 0;
          background: #b3b3b3;
        }
      }
    }

    .right_side {
      .diamond_title {
        font-size: 18px;
        letter-spacing: 1.75px;
        font-weight: 500;
      }

      .diamond_subtitle {
        font-size: 13px;
        font-weight: 400;
      }

      .diamond_price {
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 2px;

      }

      .diamond_preview_actions {
        width: 200px;
        height: 45px;
        border: 1px solid $primary-color;
        text-align: center;

        a {
          display: block;
          height: inherit;
          color: $primary-color;
          font-size: 16px;
          line-height: 41px;
          letter-spacing: 1.75px;
          font-weight: 500;
          background: transparent;
          transition: all 0.3s;

          &:hover {
            color: #FFFFFF;
            background: $primary-color;
          }
        }

      }

      .diamond_about {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 1px;
      }
    }
  }
}

#followSection {
  width: 100%;
  height: 74px;
  margin: 20px 0;
  opacity: 0.8;
  transition: opacity 0.3s;
  background: $grey-color;
  border: 1px solid $dark-grey-color;

  a {
    height: inherit;
    color: $primary-color;

  }

  h2 {
    font-size: 15px;
    font-weight: 400;

    @include breakpoint($small) {
      font-size: 20px;
    }

    @include breakpoint($medium) {
      font-size: 25px;

    }

    @include breakpoint($large) {
      font-size: 30px;
    }

    @include breakpoint($x-large) {
      font-size: 40px;

    }
  }

  &:hover {
    opacity: 1;
  }
}

.footer_wrapper {
  padding: 15px;
  border: 1px solid $dark-grey-color;

  @include breakpoint($small) {
    padding: 20px;
  }

  @include breakpoint($medium) {
    padding: 30px;
  }

  @include breakpoint($large) {
    padding: 35px;
  }

  @include breakpoint($x-large) {
    padding: 40px;
  }

  .title {
    font-size: 14px;
    font-weight: 300;
    color: $primary-color;
    margin-bottom: 10px;

    @include breakpoint($small) {
      font-size: 16px;
      margin-bottom: 15px;
    }

    @include breakpoint($medium) {
      font-size: 18px;
      margin-bottom: 20px;
    }

    @include breakpoint($large) {
      font-size: 20px;
      margin-bottom: 22px;
    }

    @include breakpoint($x-large) {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  a {
    color: #a5afb3;
    font-size: 11px;
    line-height: 15px;
    font-weight: 300;
    transition: all 0.3s;
    &:hover{
      color: #353535
    }
    @include breakpoint($small) {
      font-size: 13px;
      line-height: 15px;
    }

    @include breakpoint($medium) {
      font-size: 14px;
      line-height: 20px;
    }

    @include breakpoint($large) {
      font-size: 15px;
      line-height: 25px;
    }

    @include breakpoint($x-large) {
      font-size: 19px;
      line-height: 30px;
    }
  }

  p {
    @extend a;
  }

  .right_content {
    position: relative;
    .follow_link{
      a.fb{
      position: relative;
        &::before{
          content: '';
          height: 100%;
          width: 1px;
          background: $dark-grey-color;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
    form {
      input {
        border: 1px solid $dark-grey-color;
        padding-left: 10px;
        width: 55%;
        @extend a;
      }

      button {
        @extend a;
        background-color: #a5afb3;
        outline: none;
        border: none;
        color: $white-color;
        width: 40%;
        cursor: pointer;
        font-weight: normal;
      }
    }

    &:before {
      content: '';
      width: 1px;
      height: 100%;
      background-color: $dark-grey-color;
      position: absolute;
      left: -22%;
      transform: translateX(22%);
      top: 0;
    }
  }
}